<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 
		별칭 설정
		Mapper에서 별칭으로 사용 가능
	 --> 
	<typeAliases>
		<typeAlias alias="bv" type="com.ezen.myapp.model.BoardVo"/>
		<typeAlias alias="mv" type="com.ezen.myapp.model.MemberVo"/>
	</typeAliases>

</configuration>