<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 패키지경로.인터페이스명 -->
<mapper namespace="com.ezen.myapp.persistance.MemberService">

	<!-- id: 메소드 이름,	parameterType: 파라미터 타입, #{파라미터명}: 파라미터명 	-->
	<insert id="joinMember" parameterType="String">
		INSERT INTO member(memberName, memberId, memberPw) VALUES(#{memberName},#{memberId},#{memberPw})
	</insert>
	
	<!--
	@Param을 쓰는 경우 파라미터 이름으로 받아옴
	<select id="loginMember" parameterType="String" resultType="mv">
		SELECT * FROM member WHERE memberId = #{memberId} AND memberPw = #{memberPw}
	</select>
	-->
	<!--
	@Param을 쓰지 않을 경우 인덱스 번호로 받아옴 
	<select id="loginMember" parameterType="String" resultType="mv">
		SELECT * FROM member WHERE memberId = #{0} AND memberPw = #{1}
	</select>
	-->
	
	<!--
	HashMap을 사용하는 경우
	-->
	<select id="loginMember" parameterType="HashMap" resultType="mv">
		SELECT * FROM member WHERE memberId = #{memberId} AND memberPw = #{memberPw}
	</select>
	
	<select id="selectAllMember" resultType="mv">
		SELECT * FROM member ORDER BY midx ASC
	</select>

</mapper>